/*
body {
    font-family:'Microsoft YaHei', SimSun, sans-serif;
}

.blog-home {
    .home {
        box-sizing: border-box;
        min-height: 100vh;
        padding: 3.6rem 2rem 3.4rem;
    }
    .footer-wrapper {
        height: 3.4rem;
        padding: 0;
        z-index: 200;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
*/